<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<footer class="blog-footer bg-default" data-th-fragment="footer">
	<!--<a id="goToTop" href="#">
		<i class="fa fa-chevron-up fa-3x" aria-hidden="true"></i>
	</a>
    <div class="container">
 		<p class="m-0 text-center">@2019 <a href="http://www.icegone.cn">去冰</a></p>
    </div>-->

   	<!-- JavaScript -->
    <script src="../../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script src="../../js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>
    <script src="../../js/tether.min.js" th:src="@{/js/tether.min.js}"></script>
    <script src="../../js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="../../js/nprogress.js" th:src="@{/js/nprogress.js}"></script>
    <script src="../../js/thinker-md.vendor.min.js" th:src="@{/js/thinker-md.vendor.min.js}"></script>
    <script src="../../js/bootstrap-tagsinput.js" th:src="@{/js/jquery.tagsinput.min.js}"></script>
    <script src="../../js/chosen.jquery.js" th:src="@{/js/chosen.jquery.js}"></script>
    <script src="../../js/toastr.min.js" th:src="@{/js/toastr.min.js}"></script>
    <script src="../../js/cropbox.js" th:src="@{/js/cropbox.js}"></script>
    <script src="../../js/thymeleaf-bootstrap-paginator.js" th:src="@{/js/thymeleaf-bootstrap-paginator.js}"></script>
    <script src="../../js/catalog-generator.js" th:src="@{/js/catalog-generator.js}"></script>
    <script src="../../js/main.js" th:src="@{/js/main.js}"></script>

    <!--select2-->
    <link href="../../css/select2.min.css" th:href="@{/css/select2.min.css}" rel="stylesheet">
    <script src="../../js/select2.full.js" th:src="@{/js/select2.full.js}"></script>
    <script src="../../js/select2.min.js" th:src="@{/js/select2.min.js}"></script>
    <script src="../../js/i18n/zh-CN.js" th:src="@{/js/i18n/zh-CN.js}"></script>
    <!--微信开发js-->
    <!--<script type="text/javascript" src="http://test.com/zepto_touch.js"></script>-->
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <!--select2 js-->
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>-->
    <!--引入高德地图js api相应js,key需要注册登录高德地图进行创建申请-->
    <!--<script src="https://webapi.amap.com/maps?v=1.4.11&key=62a0feb6a538a3c53a0312067c15593e"></script>-->
    <script src="http://webapi.amap.com/maps?v=1.4.11&key=ffac55383afc09689000e41c672c3e68"></script>
    <!--<script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>-->
 </footer>

</body>
</html>