<!DOCTYPE html>
<!--章节内容：实例-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <title>Vue.js</title>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
</head>
<body>
<!-- /.container -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr><td colspan="3" style="font-weight: bold">Vue.js 模板语法</td>
                        <td></td>
                        <td></td>
                    </tr>
                    </thead>

                    <tbody>
                    <tr >
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                    <tr >
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>
                    <tr >
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- JavaScript -->
</body>
</html>